<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^article/([^/]*)$" ignoreCase="false" />
                    <action type="Rewrite" url="/article.php?name={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^contact[/]*$" ignoreCase="false" />
                    <action type="Rewrite" url="/contact.php" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^archivedimages[/]*$" ignoreCase="false" />
                    <action type="Rewrite" url="/archivedimages.php" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^images[/]*$" ignoreCase="false" />
                    <action type="Rewrite" url="/images.php" />
                </rule>
                <rule name="Imported Rule 5" stopProcessing="true">
                    <match url="^images/([^/]*)$" ignoreCase="false" />
                    <action type="Rewrite" url="/images.php?galleryid={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 6" stopProcessing="true">
                    <match url="^iconmaker[/]*$" ignoreCase="false" />
                    <action type="Rewrite" url="/iconmaker.php" />
                </rule>
                <rule name="Imported Rule 7" stopProcessing="true">
                    <match url="^about[/]*$" ignoreCase="false" />
                    <action type="Rewrite" url="/about.php" />
                </rule>
                <rule name="Imported Rule 8" stopProcessing="true">
                    <match url="^index[/]*$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php" />
                </rule>
                <rule name="Imported Rule 9" stopProcessing="true">
                    <match url="^download[/]*$" ignoreCase="false" />
                    <action type="Rewrite" url="/download.php" />
                </rule>
                <rule name="Imported Rule 10" stopProcessing="true">
                    <match url="^jpegrotator[/]*$" ignoreCase="false" />
                    <action type="Rewrite" url="/jpegrotator.php" />
                </rule>
                <rule name="Imported Rule 11" stopProcessing="true">
                    <match url="^index/([^/]*)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?page={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 12" stopProcessing="true">
                    <match url="^contact/posted$" ignoreCase="false" />
                    <action type="Rewrite" url="/contact.php?message=posted" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 13" stopProcessing="true">
                    <match url="^article/([^/]*)/posted([^/]*)$" ignoreCase="false" />
                    <action type="Rewrite" url="/article.php?name={R:1}&amp;message=posted{R:2}" appendQueryString="false" />
                </rule>
				<rule name="Imported Rule 14" stopProcessing="true">
                    <match url="^rss.xml[/]*$" ignoreCase="false" />
                    <action type="Rewrite" url="/rss.php" />
                </rule>
				<rule name="Imported Rule 15" stopProcessing="true">
                    <match url="^rss[/]*$" ignoreCase="false" />
                    <action type="Rewrite" url="/rss.php" />
                </rule>
				<rule name="Imported Rule 16" stopProcessing="true">
                    <match url="^rss/([^/]*)[/]*$" ignoreCase="false" />
                    <action type="Rewrite" url="/rss.php?article={R:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
