* {

}

body {
	font: normal 13pt Verdana;
	background-color: white;
	color: #555;
}

a, a:visited {
	text-decoration: none;
	background: url('dotted.gif') repeat-x bottom left;
	color: black;
}

a:hover {
	text-decoration: underline;
}

#contentheader
{
	padding-top: 5px;
	margin-bottom: 15px;
	padding-bottom: 7px;
	font: bold 24pt Verdana;
	color: #505050;	
	letter-spacing: 4px;
}

#header {
	width: 982px;
	height: 369px;
	padding-top: 0px;
	font-size: 16pt;
	background: url(masthead.jpg) bottom left no-repeat;
}

#header span{
	display: none;
}

#header h2{
	display: none;
}

#container {
	width: 982px;
	margin: 0px auto;
	text-align: left;
}

#horizontal{
	margin: 0px auto;
	font: normal 18px verdana;
	padding: 0 0 0 0px;
	list-style: none;
	width: 900px;
	height: 85px;
	background: url("back_menu.jpg") top center repeat-y;
}
#horizontal li
{
	float: left;
	padding: 0px 0px 0px 0px;
	margin: 0;
}
#horizontal li.active, #horizontal a, #horizontal a:visited, #horizontal a:hover
{
	float: left;
	margin: 0 0px 0 0px;
	padding: 0px 26px 0px 26px;
	color: black;
	display: block;
	height: 40px;
	line-height: 75px;
	text-decoration: none;
	background: none;
	
}

#horizontal a:hover
{
	text-decoration: underline;
}

#right-column {
	font-size: 90%;
	width: 120px;
	float: right;
	padding: 0px;
	margin: 40px 2px;
}

#innercontainer {
	margin: 0px auto;
	width: 900px;
}

#content {
	letter-spacing: 1px;
	float: left;
	width: 720px;
	margin: 10px 0px 0px 10px;
}

#content h2{
	font: normal 18pt Verdana;
	color: #333;
	margin-bottom: 5px;
	padding-left: 5px;
	padding-bottom: 9px;
	letter-spacing: 3px;
}

.black {
	color: #000;
}

p {
margin-bottom: 20px;
padding-left: 14px;
}

input.text {
	width: 70px;	
	border: 1px solid #ccc;
}

input.button {
	color: #808080;
	padding-left: 0px;
	font-size: 8pt;	
	border: none;
	background: none;
	}

#footer {
	color: #ccc;
	clear: both;
	width: 680px;
	height: 20px;
	margin-right: 20px;
	text-align: right;
}
#footer a, #footer a:visited{
	color: #ccc;
}

#footer a:hover {
	color: #808080;
}

#bottom
{
	height: 80px;
	/*
	background: url(back_bottom.gif) no-repeat;
	width: 700px;
	*/
	margin: 0px auto;
}
#contenttop
{
	height: 0px;
}
.thumb_small
{
	
}

.thumb_small a
{
	padding: 5px;
}

.maingalleryitem
{
	margin-left: 40px;
	margin-bottom: 20px;
	height: 240px;
}

.maingalleryitem a
{
	background: none;
}

.singlegalleryitem a
{
	background: none;
}

.thumb_small a
{
	background: none;
}